
@mixin flexbox($direction, $wrap, $alignContent, $justify, $alignItems) {
      display: flex;
      flex-direction: $direction;
      flex-wrap: $wrap;
      align-content: $alignContent;
      justify-content: $justify;
      align-items: $alignItems;
}

/*
Grid includes -
  1: align-content
        - center
        - flex-start
        - flex-end
        - space-around
        - space-between
        - stretch
  2: justify-content
        - center
        - flex-start
        - flex-end
        - space-between
        - space-around
        - space-evenly
  3: align-items
        - center
        - start
        - end
        - stretch
        - baseline
  4: justify-items
        - center
        - start
        - end
        - stretch
*/
