$muted-teal: #243B40;
$dark-teal: #0A2623;
$dark-green: #0A1E23;
$light-brown: #A66953;
$brown: #734D3F;
$peach:  #F2DCD8;
$offWhite: #F2F2F2;
$burgundy: #641220;
$almost-black: #0A0A0A;
$dark-gray:#495057;
$light-gray: #616161;
$goldenTan: #A37E5D;
$headerFont: 'Poppins', sans-serif;
$bodyFont: 'Raleway', sans-serif;
$boxShadow: 1px 1px 7px black;