
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	font-family: 'Raleway', sans-serif;
}

body {
	background-image: url('images/background-image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

header {
	background-color: rgba(242,242,242,.25);
	display: flex;
  justify-content: space-between;
	padding: 2%;
	background-color: rgba(166, 105, 83, .85);
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	color: #F2F2F2;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	color: #F2F2F2
}

main {
	background-color: rgba(242,242,242,.25);
	height: 100%;
}

.search-bar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	padding: 5%;
}

.recipe-cards {
	display: grid;
	gap: 2em;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
	padding: 5% 10%;
}

.card {
	border-radius: 0.5em;
  font-size: 1em;
  background-color: rgba(242, 242, 242, 0.7);
  box-shadow: 1px 1px 7px black;
}

.thumbnail-image {
	width: 100%;
}

input {
	margin: 1% 0%;
}

.menu-button {
	background-color: transparent;
	color: #f2f2f2;
  border: none;
  font-size: 1.5em;
}
